{% extends "base.twig" %}

{% block content %}

    <div class="akcije">
        <div class="akcije--left">
            <div class="titles akcije--left--suzi">SUZI Akcije</div>
            <div>
                {% set Akcije = fetch('Akcije') %}
                {% set tip = _GET['1'] ? _GET['1'] : Akcije[0]['Slug'] %}
                {% set SelektovanaAkcija = {} %}
                {% for item in Akcije %}
                    {% if (item.Slug == tip) or ( item.id == tip) %}    
                        {% set SelektovanaAkcija = item %}
                    {% endif %}

                    <div class="sub_titles akcije--left--naslov">
                        <a style="font-weight: bold;" class="{{(item.Slug==tip or item.id==tip)?'clicked':''}}" href="akcije/{{item.Slug}}">{{ item.Naslov }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="akcije--right">
            <img class="akcije--right--slika" src="img/{{SelektovanaAkcija.Slika1}}">
            <div class="akcije--right--text">{{SelektovanaAkcija.Text | raw }}</div>

        </div>
        </div>
    </div>

{% endblock %}