{% extends "base.twig" %}
{% block description %}Postanite clan SUZI udruzenja!{% endblock %}

{% set Home = fetch("Home") %}

{% block content %}
  <div class="clanovi">
    <div class="clanovi--left">
        <div class="clanovi--left-title"><a href="clanovi/Clanstvo-u-Suzi" class="{{('Clanstvo-u-Suzi'==_GET[1]) or (''==_GET[1])?'red':''}}">Članstvo u SUZI</a></div>
        <div class="clanovi--left-title"><a href="clanovi/Spisak-clanova" class="{{('Spisak-clanova'==_GET[1])?'red':''}}">Spisak članova</a></div>
        <div class="clanovi--left-title"><a href="clanovi/Postanite-clan-Suzi" class="{{('Postanite-clan-Suzi'==_GET[1])?'red':''}}">Zašto SUZI?</a></div>
        <div class="clanovi--pridruzi"><a href="https://docs.google.com/forms/d/e/1FAIpQLSdr7vF_FmhxHgAh6SUYnVjgZFSPizvjwkm7JSeSDiGjXLq-3w/viewform?c=0&w=1" target="_blank"><div class="clanovi--pridruzi-button">Učlanite se</div></a></div>
    </div>

    <div class="clanovi--right">
        <div>
            {% if ('Clanstvo-u-Suzi'== _GET[1]) or (''==_GET[1]) %}
            <div class="clanovi--opis">
              {{Home.Clanstvo | raw}}
            </div>
            {% endif %}
        </div>
        <div>
            {% if 'Spisak-clanova'== _GET[1] %}
            {% set tip = _GET['2'] ? _GET['2'] : 'Redovni' %}
            <div class="clanovi--spisak" id="spisak">
                <div class="clanovi--spisak-tip">
                <div class="clanovi--spisak-tip--naslov titles">Članovi</div>
                <div class="mobile">
                {% for item in fetch("TipClana") %}
                    <div class="clanovi--spisak-tip--red plain-text {{(item.Naziv == tip) ? 'active-list' : ''}}">
                        <a href="clanovi/Spisak-clanova/{{item.Naziv}}#spisak"> {{item.Naziv}}</a>
                    </div>
                {% endfor %}
                </div>
                </div>

                <div class="clanovi--spisak-telo">
                <div class="clanovi--spisak-telo--header">
                    <div class="clanovi--spisak-telo--header-naslov titles">Prezime i ime</div>
                    <div class="clanovi--spisak-telo--header-naslov titles">Organizacija</div>
                </div>
                {% for item in fetch("Clanovi") %}
                    {% if (item.Grupa_label == tip) %}
                    <div class="clanovi--spisak-telo--red">
                        <div class="clanovi--spisak-telo--red-osoba"> {{item.Ime}} </div>
                        <div class="clanovi--spisak-telo--red-osoba"> {{item.Mejl}} </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
            {% endif %}
        </div>
        <div>
            {% if 'Postanite-clan-Suzi'== _GET[1] %}
            <div class="clanovi--opis">
                {{Home.ZastoSuzi | raw}}
            </div>

            {% endif %}
        </div>
    </div>
  </div>

{% endblock %}
