{% extends "base.twig" %}
{% block content %}
  <div class="clanovi">
    <div class="clanovi--opis">
        <p class="clanovi--opis-paragraf plain-text">
            Članovi SUZI su svi zainteresovani inženjeri, geolozi, seizmolozi, arhitekte i urbanisti, edukatori, istraživači, ekonomisti, sociolozi, predstavnici državnih institucija, opštinski kadrovi zaduženi za primenu propisa i gradjevinsku inspekciju, pripadnici službi za hitne intervencije u kriznim situacijama, i pripradnici ostalih struka koje zemljotresi dotiču i koji se bave uzrocima i posledicama zemljotresa.
        </p>
        <p class="clanovi--opis-paragraf plain-text">
            Prema Statutu SUZI: Članom se postaje popunjavanjem pristupnice i prijemom od strane Upravnog odbora. Član Udruženja može biti svako lice koje prihvata ciljeve Udruženja i Statut i podnese prijavu za učlanjenje Upravnom odboru Udruženja. Svi članovi Udruženja se upisuju u evidenciju koju vodi Generalni sekretar Udruženja. Članovi Udruženja plaćaju godišnju članarinu.
        </p>
        <p class="clanovi--opis-paragraf plain-text-red">
            Članovi Udruženja mogu biti:
        </p>
        <p class="clanovi--opis-paragraf plain-text">
            1) Redovni članovi – oni koji ispunjavaju uslove iz prethodnog stava
        </p>
        <p class="clanovi--opis-paragraf plain-text">
            2) Počasni članovi: renomirani stručnjaci koji su svojim zalaganjem dali doprinos razvoju, unapređenju, i/ili širenju zemljotresnog inženjerstva u zemlji i/ili svetu.
            Počasne članove bira Skupština na predlog Upravnog odbora;
        </p>
        <p class="clanovi--opis-paragraf plain-text">
            3) Mladi članovi – članovi do 35 god starosti koji nisu studenti;
        </p>
        <p class="clanovi--opis-paragraf plain-text">
            4) Članovi studenti.
        </p>
    </div>
    <div class="clanovi--pridruzi"><a href="mailto: #"><div class="clanovi--pridruzi-button">Postanite član</div></a></div>
    {% set tip = _GET['tip']?_GET['tip']:'Redovni'%}
    <div class="clanovi--spisak" id="spisak">
        <div class="clanovi--spisak-tip">
          <div class="clanovi--spisak-tip--naslov titles">Članovi</div>
          {% for item in fetch("TipClana") %}
          <div class="clanovi--spisak-tip--red plain-text {{(item.Naziv == tip) ? 'active-list' : ''}}"><a href="clanovi?tip={{item.Naziv}}#spisak"> {{item.Naziv}}</a></div>
          {% endfor %}
        </div>

        <div class="clanovi--spisak-telo">
          <div class="clanovi--spisak-telo--header">
            <div class="clanovi--spisak-telo--header-naslov titles">Prezime i ime</div>
            <div class="clanovi--spisak-telo--header-naslov titles">Mejl</div>
  <!--        <td>Grupa</td> -->
          </div>
        {% for item in fetch("Clanovi") %}
            {% if (item.Grupa_label == tip) %}
          <div class="clanovi--spisak-telo--red">
            <div class="clanovi--spisak-telo--red-osoba"> {{item.Ime}} </div>
            <div class="clanovi--spisak-telo--red-osoba"> {{item.Mejl}} </div>
  <!--            <td> {{item.Grupa_label}} </td> -->
          </div>
            {% endif %}
        {% endfor %}
        </div>

    </div>
  </div>

{% endblock %}
