{% extends "base.twig" %}

{% block content %}
<div class="home">
    <div class="home--part">
        <div class="home--part-istaknuta-akcija">
                {% set IstaknutaAkcija =  fetch('IstaknutaAkcija') %}
                {# <img style="height:335px; width: 100%;" src="image.php/?id={{ IstaknutaAkcija.Slika1 }}"> #}
                <div style="background-image: url('image.php/?id={{IstaknutaAkcija.Slika1}}'); background-size: cover;
                background-repeat: no-repeat;     background-position: center; height: 335px;"></div>
                <div class="title">{{ IstaknutaAkcija.Naslov }}</div> 
                <div class="text">{{IstaknutaAkcija.Text | raw}}  </div>
                <div class="more">Vidi ceo tekst</div>
            
        </div>
        <div class="home--part-2">
                <div class="suzi-akcije"> SUZI Akcije</div>
                <div class="overflow">
                        {% for item in fetch('Akcije') %}
                        <div class="naslov">{{ item.Naslov }}</div> 
                        {% endfor %}
                </div>
        </div>
    </div>
    <div class="home--part">
        <div class="home--part--vesti">
            <div>SUZI Vesti</div>
            <div>
                    {% for vesti_suzi in fetch('Vesti_suzi') %}
                    <div class="naslov">{{ vesti_suzi.Naslov }}</div> 
                    {% if vest.Slika %}
                    <img src="image.php/?id={{ vesti_suzi.Slika }}">
                    {% endif %}
                    {% endfor %}
            </div>
            <a href= "vesti">Sva SUZI obaveštenja...</a>
        </div>
        <div class="home--part--vesti">
                <div>Vesti iz sveta</div>
                <div></div>
                <a href= "vesti">Sve vesti iz sveta...</a>
        </div>
        <div class="home--part--vesti">
                <div>Suzi prikazi</div>
                <div></div>
                <a href= "vesti">Svi prikazi...</a>
        </div>
    </div>
    <div class="home--part"> 
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

{% endblock %}

