{% extends "base.twig" %}

{% block content %}
    <div class="akcije">
        <div class="akcije--left">
            <div class="titles akcije--left--suzi">SUZI Obaveštenja</div>
            <div>
                {% set tip = _GET['1'] %}
                {% set Selektovano_obavestenje = {} %}
                {% for item in fetch('Obavestenja') %}
                    {% if item.Slug == tip  %} {% set Selektovano_obavestenje = item %} {% endif %}
                    <div class="sub_titles akcije--left--naslov">
                        <a style="font-weight: bold;" class="{{(item.Slug == tip)?'clicked':''}}" href="obavestenja/{{item.Slug}}">{{ item.Naslov }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="akcije--right">
            <div class="akcije--right--naslov sub_titles">{{Selektovano_obavestenje.Naslov}}</div>
            <div class="akcije--right--text">{{Selektovano_obavestenje.Text | raw }}</div>
        </div>
        </div>
    </div>
{% endblock %}
