{% extends "base.twig" %}

{% block content %}
    <div class="akcije">
        <div class="akcije--left">
            <div class="titles akcije--left--suzi">SUZI Obaveštenja</div>
            <div>
                {% set tip = _GET['tip']?_GET['tip']:'1'%}
                    {% for item in fetch('Obavestenja') %}
                            <div class="sub_titles akcije--left--naslov"><a style="font-weight: bold;" class="{{(item.id==tip)?'clicked':''}}" href="obavestenja?tip={{item.id}}">{{ item.Naslov }}</a></div>
                    {% endfor %}
            </div>
        </div>
        <div class="akcije--right">
            {% set obavestenja = fetch("Obavestenja", { 'id':tip } )[0] %}
            <div class="akcije--right--naslov sub_titles">{{obavestenja.Naslov}}</div>
            <div class="akcije--right--text">{{obavestenja.Text | raw }}</div>

        </div>
        </div>
    </div>
{% endblock %}
