{% extends "base.twig" %}

{% block content %}
{#% set id = _GET['vest'] %#}
{% set suzi_prikazi = fetch("Prikazi", {"id": _GET['1']})[0] %}

<div class="vest">
  <div class="vest--title titles">SUZI Prikazi</div>
  <div class="vest--container">
    <div class="vest--container-title titles-2">{{suzi_prikazi.Naslov}}</div>
    <div class="dates">{{ suzi_prikazi.Datum | date("d.m.Y") }}</div>
    {% if suzi_prikazi.Slika1 or suzi_prikazi.Slika2 %}
      <div class="vest--container-imgs">
        {% if suzi_prikazi.Slika1 %}
          <img class="" src="img/{{ suzi_prikazi.Slika1 }}" alt="SUZI Vest" />
        {% endif %}
        {% if suzi_prikazi.Slika2 %}
          <img class="" src="img/{{ suzi_prikazi.Slika2 }}" />
        {% endif %}
      </div>
    {% endif %}
    <div class="vest--container-text plain-text">
      {{suzi_prikazi.Text | raw}}
    </div>
  </div>
</div>

{% endblock %}
