{% extends "base.twig" %}

{% block content %}
  {% set vesti_svet = fetch("Vesti_svet") %}
  {% set vesti_suzi = fetch("Vesti_suzi") %}
  {% set suzi_prikazi = fetch("Prikazi") %}

  <div class="vesti">
    <div class="vesti--suzi">
      <div class="vesti--suzi-naslov titles">SUZI Vesti</div>
      {% for suzi in vesti_suzi %}
      <div class="vesti--suzi-vest">
        <div class="vesti--suzi-vest--link sub_titles"><a href="vest-suzi/{{suzi.Slug}}">{{ suzi.Naslov }}</a></div>
        <div class="vesti--suzi-vest--datum dates">{{ suzi.Datum }}</div>
      </div>
      {% endfor %}
    </div>
    <div class="vesti--svet">
      <div class="vesti--svet-naslov titles">Vesti iz sveta</div>
      {% for svet in vesti_svet %}
      <div class="vesti--svet-vest">
        <div class="vesti--svet-vest--naslov sub_titles-lite"><a href="vest-svet/{{svet.Slug}}">{{ svet.Naslov }}</a></div>
        {% if svet.Slika1 %}
          <a href="vest-svet/{{svet.Slug}}"><img class="vesti--svet-vest--image slika" src="img/{{ svet.Slika1 }}"></a>
        {% endif %}
        <div class="vesti--svet-vest--datum dates">{{ svet.Datum }}</div>
      </div>
      {% endfor %}
    </div>
    <div class="vesti--prikazi">
      <div class="vesti--prikazi-naslov titles">SUZI prikazi</div>
      {% for prikaz in suzi_prikazi %}
      <div class="vesti--prikazi-vest">
        <div class="vesti--prikazi-vest--naslov sub_titles-lite"><a href="suzi-prikaz/{{prikaz.Slug}}">{{ prikaz.Naslov }}</a></div>
        {% if prikaz.Slika1 %}
          <a href="suzi-prikaz/{{prikaz.Slug}}"><img class="vesti--prikazi-vest--image slika" src="img/{{ prikaz.Slika1 }}"></a>
        {% endif %}
        <div class="vesti--prikazi-vest--datum dates">{{ prikaz.Datum }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
